.header{
    display: flex;
    justify-content: space-between;
    height: 114px;
    padding: 0 40px;
    background-color: white;
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right:40px;
}
.header-left a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

}
.header a:hover{
    color: #008bcf;
    transition: color 0.5s;
}
.header-middle{
    height: 100%;
}
.header-middle img{
    height: 100%;
}
.header-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 10px;
}
.header-right a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #008bcf;
}